<% if users_any? %>
<h3><%= pluralize(@users.size, "User") %></h3>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      created
      <%= time_ago_in_words(user.created_at) %> ago
      
      &emsp;||&emsp; View <%= link_to "#{user.name.possessive} closet", user_items_url(user) %>
    </li>
  <% end %>
</ul>
<% else %>
<h3>No users yet.</h3>
<p> Be the first to join <%= link_to("here", signup_url) %>! </p>
<% end %>