<section class="user">
  <%= profile_image(@user) %>
  <p></p>
  <div class="index-page-header">
  <h1><%= @user.name %> 
    <% if @user.username.present? %>
    (<%= @user.username %>)
    <% end %>
  </h1>
  </div>
  <h2><%= mail_to(@user.email) %></h2>
  <p>
    <% if current_user?(@user) %>
       View your items <%= link_to "here", user_items_url(@user) %> 
    <% else %>
       View <%= (@user.name.possessive) %> items <%= link_to "here", user_items_url(@user) %> 
    <% end %>
  </p>
   <p> Member since
    <%= @user.created_at.strftime("%B %Y") %>
  </p>
  
  <% if current_user && current_user.admin? && current_user == @user%>
  <p><b>You are an admin user.<br>You may edit and delete users' items and accounts.</b></p>
  <% elsif @user.admin? %>
    <p><b><%= @user.name %> is an admin user.</b></p>
  <% end %>


<% if current_user?(@user) || (current_user && current_user.admin? && @user.admin? == false) %>
  <div class="actions">
        <%= link_to "Edit Account", edit_user_path(@user),
        class: "button edit" %>

        <%= link_to "Delete Account", @user, method: :delete, 
        data: { confirm: "Permanently delete account?! \nThis cannot be undone." },
        class: "button delete" %>
  </div>
 <% end %> 

 <% if @favorite_items.present? %>
 <br>
  <h3>Liked Items</h3>
  <div class="favorite-movies">
    <% @favorite_items.each do |item| %>
    <% @new_user = item.user_id %>
      <%= link_to image_tag(item.image_file_name), user_item_url(@new_user, item) %>   

    <% end %>
  </div>
<% end %>

</section>

