<section class="user">
    <div class="details">
     <%# ^^ FOR USER DETAILS %>
  <%= profile_image(@user) %>
  <p></p>
  <h1><%= @user.name %> 
    <% if @user.username.present? %>
    (<%= @user.username %>)
    <% end %>
  </h1>
  <h2><%= mail_to(@user.email) %></h2>
  <p>
    <% if current_user?(@user) %>
       View your items <%= link_to "here", user_items_url(@user) %> 
    <% else %>
       View <%= (@user.name.possessive) %> items <%= link_to "here", user_items_url(@user) %> 
    <% end %>
  </p>
   <p> Member since
    <%= @user.created_at.strftime("%B %Y") %>
  </p>
  
  <% if current_user && current_user.admin? && current_user?(@user)%>
  <p><b>You are an admin user.</b></p>
  <p>You may edit and delete users' items and accounts.</p>
  <% elsif @user.admin? %>
    <p><b><%= @user.name %> is an admin user.</b></p>
  <% end %>

<% if admin_or_current_user %>
  <div class="actions">
        <%= link_to "Edit Account", edit_user_path(@user),
        class: "button edit" %>

        <%= link_to "Delete Account", @user, method: :delete, 
        data: { confirm: "Permanently delete account?! \nThis cannot be undone." },
        class: "button delete" %>
  </div>
 <% end %> 
 </div> 
 <%# ^^ FOR USER DETAILS %>
 <aside>
 <% if @favorite_items.present? %>
 <br>
  <h4>Liked Items </h4>  
  <div class="favorite-movies">
    <% @favorite_items.each do |item| %>
    <% @new_user = item.user_id %>
      <%= link_to main_image(item), user_item_url(@new_user, item) %>   
    <% end %>
  </div>
<% end %>
<%= will_paginate @favorite_items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer  %>
</aside>
</section>







