<%= form_with(model: [@user, @item], local: true) do |f| %>
<%= render "shared/errors", object: @item %>

  <%= f.label :item_name %>
  <%= f.text_field :name, autofocus: true %>

 <%= f.label :stars %>
  <% Item::STARS.each do |star| %>
    <span class="star">
        <%= f.radio_button :stars, star %>
        <%= label_tag star %>
    </span>
  <% end %>
  <p></p> 
<%# ^ adding some space after stars%>
  <%= f.label :optional_flair %>
  <%= f.select :flair, Item::FLAIRS, default: "no flair" %>

  <%= f.label :description %>
  <%= f.text_area :description, rows: 5 %>

  <%= f.label :size %>
  <%= f.select :size, Item::SIZES, prompt: "Pick one" %>

  <%= f.label :brand %>
  <%= f.select :brand, Brand.all.pluck(:name).sort, prompt: "Pick one" %>

  <%= f.label :found_on %>
  <% if item.new_record? %>
  <%= f.date_field :found_on, :value => Time.now.strftime("%Y-%m-%d") %>
  <% else %>
  <%= f.date_field :found_on%>
  <% end %>

  <%= f.label :image_file_name %>
  <%= f.text_field :image_file_name %>

  <%= f.label "Complaints (optional)" %>
  <div class="checkboxes">
  <%= f.collection_check_boxes(:complaint_ids, Complaint.order(:name), :id, :name) %>
  </div>

  <%= f.submit %>
<% end %>