<div class="index-page-header">
<% if current_user?(user) && items_any?(user) %>
   <h1><%= link_to(user.name.possessive, user_url(user)) %>&nbsp;closet <%= link_to "Add New Item", new_user_item_url(user), class: "button-add" %></h1>
   <% elsif current_user?(user) && items_any?(user) == false %>
      <h3>No items yet. <%= link_to "Add New Item", new_user_item_url(user), class: "button-add" %></h3>
   <% elsif current_user?(user) == false && items_any?(user) == false %>
      <h3>No items yet. </h3>
      <p> View <%= user.name.possessive %> account <%= link_to "here", user_url(user) %> </p>
   <% else %>
      <h1><%= link_to(user.name.possessive, user_url(user)) %> &nbsp;closet</h1>
   <% end %>
</div>

   