<div class="index-page-header">
<% if @user == @current_user && items_any?(@user) %>
   <h1><%= link_to(@user.name.possessive, user_path(@user)) %>&nbsp;closet <%= link_to "Add New Item", new_user_item_url(@user), class: "button-add" %></h1>
   <% elsif @user == @current_user && items_any?(@user) == false %>
      <h3>No items yet <%= link_to "Add New Item", new_user_item_url(@user), class: "button-add" %></h3>
   <% elsif @user != @current_user && items_any?(@user) == false %>
      <h3>No items yet </h3>
   <% else %>
      <h1><%= link_to(@user.name.possessive, user_path(@user)) %> &nbsp;closet</h1>
   <% end %>
   
</div>
<% @items.each do |item| %>
  <section class="movie">
  <div class="image">
    <%= image_tag item.image_file_name %>
    </div>
    <div class="summary">
      <h2>
        <%= link_to(item.name, user_item_url(@user, item)) %><%= render "shared/stars", percent: item.stars_as_percent %>
      </h2>
      <% if item.found_on.present? %>
        <h3>Found <%= format_found_on(item) %></h3>
      <% end %>
<%# truncate movie description to 100 characters and cuts off during a space not mid-word%>
      <p>
         <%= truncate(item.description, length: 200, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>




