<%= render "indexpageheader", user: @user %>  
<div style="padding-left: 5o;padding-left: 50px;"><%= will_paginate @container %></div>

<% @items.each do |item| %>
<section class="movie">
  <div class="image">
    <%= link_to main_image(item), user_item_path(@user, item) %>
  </div>
  <div class="summary">
  <div class="header-2">
    <h2>
      <%= link_to(item.name, user_item_url(@user, item)) %>
        <% unless item.fans.size == 0 %>
        &nbsp;♥️ <%= item.fans.size %>
        <% end %>   
        <% unless item.flair == "no flair" || nil %>     
        <%#= link_to "#{item.flair}", user_item_url(@user, item), class: "button-flair-small" %>
        &nbsp; <button class="button-flair-small" ><%= item.flair %></button>
        <% end %>
    </h2>
  </div>
  <%= render "shared/stars", percent: item.stars_as_percent %>
      <% if item.found_on.present? %>
      <h3>Found <%= format_found_on(item) %></h3>
      <% end %>
      <p>
      <%= simple_format(item.description.truncate(75, separator: ' ')) %>
      </p>
  </div>
</section>
<% end %>
<div style="padding-left: 5o;padding-left: 50px;"><%= will_paginate @container %></div>





