<%= render "indexpageheader", user: @user %>    
   
</div>
<% @items.each do |item| %>
  <section class="movie">
  <div class="image">
    <%#= image_tag item.image_file_name %>
     <%= link_to image_tag(item.image_file_name), user_item_path(@user, item) %>
    </div>
    <div class="summary">
      <h2>
        <%= link_to(item.name, user_item_url(@user, item)) %>
        <% unless item.fans.size == 0 %>
        &nbsp;♥️ <%= item.fans.size %>
        <% end %>   
        <% unless item.flair == "no flair" || nil %>     
        <%#= link_to "#{item.flair}", user_item_url(@user, item), class: "button-flair-small" %>
        &emsp; <button class="button-flair-small" ><%= item.flair %></button>
        <% end %>
        <%= render "shared/stars", percent: item.stars_as_percent %>
      </h2>
      <% if item.found_on.present? %>
        <h3>Found <%= format_found_on(item) %></h3>
      <% end %>
<%# truncate movie description to 100 characters and cuts off during a space not mid-word%>
      <p>
         <%#= truncate(item.description, length: 100, separator: ' ') %>
         <%= simple_format(item.description.truncate(75, separator: ' ')) %>
      </p>
    </div>
  </section>
<% end %>




