<section class="movie-details">
<div class="image">
    <%= main_image(@item) %>
</div>

  <div class="details">
    <%= render "h1flair", item: @item %>    
    <h2>
        <%= render "shared/stars", percent: @item.stars_as_percent %>
      </h2>
      <p>
      <%= simple_format(@item.description) %>
        <%#= @item.description %> 
      </p>
      <table>
        <tr>
          <th>Size:</th>
          <td><%= @item.size %></td>
        </tr>
        <tr>
          <th>Brand:</th>
          <td><%= @item.brand %></td>
        </tr>
        <tr>
          <th>Found on:</th>
          <td><%= format_found_on(@item) %></td>
        </tr>
        <tr>
          <th>Last Updated:</th>
          <td><%= time_ago_in_words(@user.updated_at) %> ago </td>
        </tr>
         <tr>
          <th>Submitted By:</th>
          <td><%= link_to(@user.name, @user) %> </td>
        </tr>
      </table>

      <div class="complaints">
        <% if @complaints.present? %>
        <h4>Complaints:</h4>
        <ul>
        <% @complaints.each do |c| %>
        <li><%= c.name %></li>
        <% end %>
        </ul>
        <% end %>
      </div>
  </div>

<aside>
<% if @fans.present? %>
    <h4>Liked By</h4>
      <div>
          <ul>
              <% @fans.each do |user| %>
                  <%#= link_to profile_image(user), user %>
                  <ul>
                  <li>
                  <%= link_to user.name, user %>
                  </li>
                  </ul>
              <% end %>
          </ul>
      </div>
<% end %>
</aside>
</section>

<section class="admin">
  <% if admin_or_current_user %>
  <%#= link_to "Edit Item", edit_user_item_url(@user, item)), class: "button" %>
  <%= link_to "Edit Item", edit_user_item_path(@user, @item), class: "button" %>
  <%= link_to "Delete Item", [@user, @item], class: "button-delete", method: :delete,
  data: { confirm: 'Delete Item?!' }  %>
  <% end %>
</section>
