<h1>Add a new brand</h1>
<p>NOTE: Admins can only remove brands using console.<p>

  <%= form_with(model: @brand, local: true) do |f| %>
  <%= render "shared/errors", object: @brand %>

  <%= f.label "Brand Name" %>
  <%= f.text_field :name, placeholder: "(No duplicates allowed!)" %>
  <%=f.submit "Add Brand"%>

<% end %>
