<header>
  <nav>
        <%= link_to image_tag("final-logo.png", :height => 70), root_path %>

    <ul class="left">
    <% if current_user && @user %> 
    <%# displays a neat header with filters if a current user exists for the index/show pages %>

      <li>
          <%= nav_link_to "All Items", filtered_items_url(@user, :all_items) %>
      </li>
      <li>
          <%= nav_link_to 'Recently Added', filtered_items_url(@user, :recently_added) %>
      </li>
      <%# <li> %>
          <%#= nav_link_to 'Most Liked', filtered_items_url(@user, :most_liked) %>
      <%# </li> %>
      <li>
          <%= nav_link_to 'Top Rated', filtered_items_url(@user, :top_rated) %>
      </li>
       <% end %>
    </ul>
    <ul class="right">
      <% if current_user %>
        <li>
          <%= link_to current_user.name, current_user %>
        </li>
        <li>
            <%= link_to "Account Settings", edit_user_path(current_user) %>
        </li>
        <li>
       &ensp;<%= link_to "Log Out", session_path, method: :delete,
              class: "button" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign Up", signup_path, class: "button" %>
        </li>
        <li>
          &ensp;<%= link_to "Log In", login_path, class: "button" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>


